{% extends "home.html" %}
{% load multiply %}
{% block content %}
<h2 style="background: lightcyan; font-family: 'Lato Light'" align="center">{{group.name}}</h2>
{% for tree_node in tasks %}
    <div style="margin-left: {{ tree_node.nesting|multiply_margin:30}}">
        {% include 'task.html' with task=tree_node.task group=group %}
    </div>
{% endfor %}
    {% block extra %}
        {% endblock %}
{% endblock %}