<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <div id="sidebar" class="sidenav">
            {% block sidebar %}
            <button type="button">Add task</button>
            <a href="/logout/">Logout</a>
            <ul>
                {% for group in groups %}
                <li><a href="/groups/{{group.id}}/">{{group.name}}</a></li>
                {% endfor %}
            </ul>
            {% endblock %}

        </div>

        <div id="content" class="main">
            {% block content %}

            {% endblock %}
        </div>
    </div>
</body>
</html>
