{% load static %}
<link rel="stylesheet" href="{% static 'css/card.css' %}">

<div class="card">
    <div>
        <a class="card-header">{{plan.name}}</a>
        <div>{{ plan.human_readable_period }}</div>
    </div>
</div>

<div style="margin: 30px">
{% for task in plan.tasks.all %}
    {% include 'task.html' with task=task group=group %}
{% endfor %}
</div>