{% load static %}
{% load colorize_task %}
<link rel="stylesheet" href="{% static 'css/card.css' %}">
<div class="card" id="taskcard" style="background:{{ task|colorize_task }}; border-color: {{ task|colorize_task_border }}">
    <div id="task-info">
        <a id="task-name" class="card-header" href="{% url 'task-edit' task_id=task.id group_id=group.id %}">{{ task.name|slice:':40' }}{% if task.name|length > 40 %}...{% endif %}</a>
        <div id="time-limitations">{{ task.start_datetime }} - {{ task.finish_datetime }}</div>
        <div id="task-status">{{task.human_readable_status }}</div>
        {% if group.users.count > 1 %}}
            <div id="task-executor">Executor {{ task.user.name }}</div>
        {% endif %}
    </div>
</div>

