.card {
    display: flex;
    width: 500px;
    height: 85px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 20px;
    border-left-width: 5px;
    border-right-width: 5px;
    border-top-width: 5px;
    border-bottom-width: 5px;
    border-style: solid;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
}

.card a, div{
    text-decoration-line: none;
    text-decoration-color: black;
    margin-left: 10px;
}

.card-header{
    font-size: x-large;
    font-family: fantasy;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
}

/*
#task-info #remove-task-from-group{
    display: inline;
}*/








