.registration {
    align-self: center;
    align-content: center;
    width: 800px;
    height: 500px;
}

.registration h2 {
    font-size: x-large;
    font-family: Blackboard;
    background-color: blanchedalmond;
}

.registration button{
    background-color: limegreen;
    width: 70px;
    height: 70px;
    border-radius: 5px;
    font-size: x-large;
}

.registration a{
    text-decoration-line: none;
    text-decoration-color: black;

}