{% load static %}
<link rel="stylesheet" href="{% static 'css/registration.css' %}">

{% block content %}
    <div class="registration">
        <h2>Login</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">OK</button>
            </form>
        <p>No account yet? <a href="{% url 'signup' %}">Sign up</a></p>
    </div>
{% endblock %}