{%  load static %}
<link rel="stylesheet" href="{% static 'css/registration.css' %}">
{% block content %}
    <div class="registration">
        <h2>Sign up</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">OK</button>
        </form>
        <p>Have an account? <a href="{% url 'login' %}">Log in</a></p>
    </div>
{% endblock %}